<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.9" />
  <meta name="description" content="Node.js Full Stack Developer" />
  <meta name="author" content="Taras Labiak">
  <title>Taras Labiak - Resume</title>
  <meta property="og:title" content="Taras Labiak - Resume">
  <meta property="og:description" content="Node.js, Python and Go Full Stack Developer">
  <meta property="og:image" content="https://kissarat.github.io/resume/avatar.jpg">
  <meta property="og:url" content="https://kissarat.github.io/index.html">
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:profile:first_name" content="Taras" />
  <meta property="og:profile:last_name" content="Labiak" />
  <meta property="og:profile:username" content="kissarat" />
  <meta property="og:profile:gender" content="male" />
  <meta property="og:locale" content="en_US" />
  <link rel="manifest" href="/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="resume/style.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58031952-14"></script>
  <script src="labiak.js"></script>
</head>

<body>
  <div id="skill-logos">
    <div></div>
  </div>

  <div id="app" itemscope itemtype="https://schema.org/Person">
    <div id="resume">
      <header v-bind:class="{large, 'easter-block': true}">
        <a v-bind:href="large ? 'resume/avatar.jpg' : ''" v-on:click="$event.preventDefault()">
          <img alt="Taras Labiak" itemprop="image" id="avatar" src="resume/avatar.jpg" v-bind:class="{large: large}"
            v-on:click="large = !large" />
        </a>
        <div class="about">
          <h1>
            <span itemprop="givenName">Taras</span>
            <span itemprop="familyName">Labiak</span>
          </h1>
          <button style="display: none" class="english" type="button">
            EN
          </button>
          <h2 class="notranslate">
            JavaScript, PHP, Python
            <span class="easter">
              <span class="visible">Full</span>
              <span class="hidden">Fool</span>
            </span>
            Stack
            Developer
          </h2>
          <!--<a class="export">PDF</a>-->
          <div v-bind:class="{abstract: !large, table: large}">
            <div class="tile age">
              <div class="label">Age</div>
              <div class="value">32</div>
            </div>
            <div class="tile email">
              <div class="label">Email</div>
              <a itemprop="email" href="mailto:" class="value"></a>
            </div>
            <div class="tile facebook">
              <div class="label">Facebook</div>
              <a itemprop="facebook" href="https://www.facebook.com/kissarat/" class="value">kissarat</a>
            </div>
            <div class="tile location">
              <div class="label">Location</div>
              <div itemprop="address" class="value">Ternopil, Ukraine</div>
            </div>
            <div class="tile experience">
              <div class="label">Experience</div>
              <div class="value">over 7 years</div>
            </div>
            <div class="tile">
              <div class="label">Skype</div>
              <div class="value">taradox89</div>
            </div>
            <!--div class="tile website">
              <div class="label">Website</div>
              <a itemprop="url" href="https://kissarat.github.io/" class="value">kissarat.github.io</a>
            </div-->
            <div class="tile">
              <div class="label">GitHub</div>
              <a href="https://github.com/kissarat" class="value">github.com/kissarat</a>
            </div>
            <div class="tile">
              <div class="label">Bitbucket</div>
              <a href="https://bitbucket.org/kissarat" class="value">bitbucket.org/kissarat</a>
            </div>
            <div class="tile">
              <div class="label">GitLab</div>
              <a href="https://gitlab.com/kissarat" class="value">gitlab.com/kissarat</a>
            </div>
          </div>
        </div>
        <div id="updated">Updated <span>2022-04-07T10:30:00Z</span></div>
      </header>
      <article>
        <dl>
          <dt class="summary">Summary</dt>
          <dd id="summary" itemprop="description">
            <p>
              I love to investigate, to solve, to describe, to analyse and give accurate estimates.
              I prefer to probe and prove diverse approaches in my life and in the projects where it
              possible. I avoid talks and meetings "with existentialism" and may make
              <a href="https://en.wikipedia.org/wiki/Transactional_analysis"
                title="Method of therapy wherein social interactions are analyzed to determine the ego state of the communicator as a basis for understanding behavior">
                transactional analysis</a>
              to avoid existential questions in the future. I'm pragmatic and I guess that
              philosophy is a friend of developer. Any intelligent person must know psychology
              enough to communicate efficiently and motivate coworkers. I want to work with
              constructive people. Life is too short to be unresponsible.
            </p>
            <p>
              I love astronomy, physics, mathematics, ethics, meditation and yoga. I'm a skeptic and
              often intend to find out where and how opponent (or me) may be right or wrong. I
              prefer to live with some constructive illusions but without a lie. Life is amazing and
              I try to learn as much as possible from my experience.
            </p>
          </dd>
          <dt class="skills">Skills</dt>
          <dd id="skills" itemprop="description">
            <ul>
              <li><a href="https://go.dev/">Go</a></li>
              <li class="notranslate">
                <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/C%2B%2B" class="notranslate">C++</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" class="notranslate">C#</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a>
              </li>
              <li>
                <a href="https://www.php.net/manual/en/intro-whatis.php">PHP</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Solidity" class="notranslate">Solidity</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/ERC-20">ERC-20</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">Bash</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/SQL">SQL</a></li>
              <li><a href="https://en.wikipedia.org/wiki/HTML">HTML</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics">SVG</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)#SCSS">SCSS</a>, SASS
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">Bootstrap</a>
              </li>
              <li>
                <a href="https://semantic-ui.com/" class="notranslate">Semantic UI</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Vue.js">Vue.js</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/React_(JavaScript_library)">React.js</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Redux_(JavaScript_library)">Redux</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/jQuery">jQuery</a>
              </li>
              <li><a href="https://marionettejs.com/">Marionette.js</a></li>
              <li><a href="https://cloudinary.com/">Cloudinary</a></li>
              <li><a href="https://onesignal.com/about">OneSignal</a></li>
              <li><a href="https://www.twilio.com/">Twilio</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/webpack">webpack</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Gulp.js">Gulp.js</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Node.js">Node.js</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Electron_(software_framework)" class="notranslate">Electron</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/express.js">express.js</a>
              </li>
              <li><a href="https://strapi.io">strapi</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Stripe_(company)" class="notranslate">Stripe</a>
              </li>
              <li><a href="https://knexjs.org">knex.js</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Meteor_(web_framework)">Meteor</a>
              </li>
              <li class="notranslate">
                <a href="https://en.wikipedia.org/wiki/REST">REST</a>/HTTP
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/WebSocket">WebSocket</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/WebRTC">WebRTC</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/Yii">Yii</a> 2</li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Tornado_(web_server)">tornado</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/NoSQL">NoSQL</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/PostgreSQL">PostgreSQL</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/MySQL">MySQL</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/MongoDB">MongoDB</a>
              </li>
              <li><a href="https://mongoosejs.com/">Mongoose.js</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/IndexedDB">IndexedDB</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/Redis">Redis</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Amazon_Web_Services">AWS</a>
                EC2
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/.NET_Framework">.NET</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Windows_Presentation_Foundation">WPF</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Microsoft_Silverlight">Silverlight</a>
              </li>
              <li><a href="https://en.wikipedia.org/wiki/Git">Git</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Mercurial">Mercurial</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Docker_(software)">Docker</a> Compose
              </li>
              <li><a href="https://en.wikipedia.org/wiki/Nginx">Nginx</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Linux">Debian</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/macOS">macOS</a>
              </li>
              <li><a href="https://aws.amazon.com/ru/iot-core/">MQTT</a></li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Ethereum">Ethereum</a>
                <span class="notranslate">(<a href="https://www.parity.io/">parity</a>)</span>
                node configuration and usage through API
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93viewmodel">MVVM</a>
              </li>
              <li>
                <a href="https://swagger.io/" class="notranslate">GraphQL</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/immutable" class="notranslate">immutable.js</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/jest" class="notranslate">Jest</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/enzyme" class="notranslate">Enzyme</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Terraform_(software)" class="notranslate">Terraform</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Jenkins_(software)" class="notranslate">Jenkins</a>
              </li>
              <li>
                <a class="notranslate" href="https://redux-saga.js.org/">Redux Saga</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/TypeScript">TypeScript</a>
              </li>
              <li>
                <a href="https://nestjs.com/">Nest.js</a>
              </li>
              <li>
                <a href="https://typeorm.io/">TypeORM</a>
              </li>
              <li>
                <a href="https://koa.js/">Koa.js</a>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Google_App_Engine">Google App Engine</a>
              </li>
            </ul>
          </dd>
          <dt class="experience">Experience</dt>
          <dd id="experience" class="robots-noindex" v-cloak>
            <div class="cloak">
              <span class="please">Something wrong happens. Please</span>
              <a class="download" href="https://grabify.link/A7BQ7I.pdf">download</a>
              <span class="pdf">resume in PDF format</span>
            </div>
            <div v-if="original">
              <div v-bind:class="job.classes" v-for="job in jobs">
                <h4 class="notranslate confidential" v-if="job.isConfidential">
                  {{ job.name }}
                </h4>
                <h4 class="notranslate" v-else>{{ job.name }}</h4>
                <div class="properties">
                  <div v-bind:class="job.classes" v-for="property in job.properties">
                    <span class="label">{{ property.label }}:</span>
                    <span class="value" v-if="property.isPlainText">
                      {{ property.value }}
                    </span>
                    <span class="value" v-else v-html="property.value"></span>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="foreign">
              <span class="can-see">You can see this section at </span>
              <a href="https://kissarat.github.io/">kissarat.github.io</a>
              <span class="or"> or </span>
              <a class="download" href="https://grabify.link/A7BQ7I.pdf">download</a>
              <span class="pdf"> resume in PDF format</span>
            </div>
          </dd>
          <dt class="education">Education</dt>
          <dd id="education">
            <div>
              <div>2006 - 2011</div>
              <div class="bachelor">
                Bachelor's degree, Computer Systems and Networks | Ternopil
                Ivan Pul'uj National Technical University
              </div>
            </div>
            <div>
              <div>2002 - 2006</div>
              <div class="lyceum">High school degree | Technical Lyceum</div>
            </div>
          </dd>
          <dt id="own" class="own-projects">Own Projects</dt>
          <dd>
            <dl>
              <dt class="notranslate">Never Loose</dt>
              <dd>
                Google Chrome extension (<a
                  href="https://github.com/kissarat/never-lose">https://github.com/kissarat/never-lose</a>)
                that makes snapshots at achive.org of any pages every visit
              </dd>
              <dt class="notranslate">CSS selectors generator</dt>
              <dd>
                Script that generate the shortest CSS selector for given HTML element
                <a href="https://gist.github.com/kissarat/b979c322bf3ced4c21009b60160b20fa" class="anchor">
                  identify.js
                </a>
              </dd>
              <dt class="notranslate">Comparator Generator</dt>
              <dd>
                Generates anoymous function that compare equality of two
                objects based on JSON description. You can see generator and
                example of comparison schema description
                <a href="https://kissarat.github.io/comparator/index.html" class="anchor">here</a>
              </dd>
              <dt class="notranslate">Dominant</dt>
              <dd>
                Google Chrome extension (<a
                  href="https://github.com/kissarat/dominant">https://github.com/kissarat/dominant</a>) for commenting
                any element of any HTML page. User can see
                comment of other users
              </dd>
              <dt class="notranslate">PHP array converter</dt>
              <dd>
                Converts JSON object into PHP associative array
                <a href="/samples/php-array.html" class="anchor">php-array.html</a>
              </dd>
              <dt>Subweb</dt>
              <dd>
                Simple tools that helps text analysis
                <a href="/subweb/analyze.html" class="anchor">subweb</a>
                (source code at <a href="https://github.com/kissarat/subweb" class="anchor">github.com</a>)
              </dd>
              <dt class="notranslate">Piano</dt>
              <dd>
                Simple <a href="/music/#piano" class="anchor">piano</a> based on WebAudio API
                <a href="https://github.com/kissarat/kissarat.github.io/tree/master/music" class="anchor">source
                  code</a>
              </dd>
              <dt class="notranslate">prom.ua JSON gateway</dt>
              <dd>
                Gateway, that accepts any URL of prom.ua, parse appropriate
                page and respond in JSON format
                <a href="https://github.com/kissarat/prom">https://github.com/kissarat/prom</a>
              </dd>
              <dt class="notranslate">Tic-tac-toe</dt>
              <dd>
                <a href="/samples/xo.html" class="anchor">Game</a>
                for two players grid with X or O
              </dd>
              <dt class="notranslate">Code Commenter</dt>
              <dd>
                Web application for commenting of lines of Python code with
                own syntax highlighter
                <a href="https://github.com/kissarat/coco">https://github.com/kissarat/coco</a>
              </dd>
            </dl>
          </dd>
        </dl>
      </article>
    </div>
    <iframe src="https://en.wikipedia.org/wiki/Ethereum"></iframe>
    <a id="pdf" href="https://grabify.link/A7BQ7I.pdf" class="download" title="Save as PDF" target="_blank">
      <img alt="Save as PDF" src="images/pdf.png" />
    </a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
    integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"
    integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
  <script src="resume/script.js"></script>
  <!-- <script src="resume/hired.js"></script> -->
  <div id="hired" style="opacity: 0; display: none">
    <h1>I am hired
      <!-- by <a target="_blank" href="https://brightdata.com/">brightdata.com</a>-->
    </h1>
    <button type="button">OK</button>
  </div>
</body>

</html>

<!-- Copyright (c) 2022, Taras Labiak -->
