#app {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#avatar {
    width: 200px;
    cursor: pointer;
}

#avatar.large {
    width: 80vw;
}

article {
    max-width: 50vw;
    text-align: justify;
}
