body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 200px;
}

article {
    max-width: 50vw;
    text-align: justify;
}
